$background-color: #5353dc ;
$background-hover-color: #4242ce ;
$primary-color: #fff;
$light-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.1);
$break-medium: 992px;
$toggle-transition: 0.3s cubic-bezier(0.44, 0.33, 0.67, 0.86);

* {
    box-sizing: border-box;
}

%flex-base {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wpcontent {
    padding-left: 0 !important;
}

/* Class PP Button - Set margin and padding values for individual buttons separately */
a.pp-button {
	display: inline-block;
	text-align: center;
	text-decoration: none;
    background: $background-color;
    color: $primary-color !important;

    &:hover {
        background: $background-hover-color;
    }
}

.wrap {

    margin: 0 !important;

    .pp-header-wrap {
        @extend %flex-base;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        box-shadow: $light-box-shadow;
        background-color: $primary-color;
    

        /* Logo Wrapper */
        .pp-header-banner {
            float: right;
            display: inline-flex;
            align-items: center;

            img {
                height: 28px;
                margin-left: 20px;
                }
            .pp-header-title {
                display: inline;
                margin-left: 5px;
            }
        }
        
        /* Page Title */
        .pp-admin-heading {
            font-size: 24px;
            text-align: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
        }

        /* Navigation Menu */
        .pp-nav-tab-wrapper {
            border: none !important;

            .nav-tab {
                background-color: #fff;
                border: none;
                padding: 10px 20px;
                margin: 0px 20px;
            

                &.nav-tab-active,
                &:hover {
                    
                    border-bottom: 2px solid #5353dc;
                }

                &.get-pro {
                    color: #5353dc;
                }

                &:hover.get-pro {
                    color: #4040c8;
                }
            }
        }   
    }

    .h2-for-admin-notices {
        margin-bottom: 100px;
    }

    .notice {
        margin-right:20px !important;
        margin-left:20px !important;
    }

    .pp-modules-wrap{
        &:after,
        &:before {
            content: "";
            display: table;
        }
        &:after {
            clear: both;
        }

        input.button.pp-submit-button {
                display: inline-block;
                text-align: center;
                margin-top: 10px;
                text-decoration: none;
                background: #5353dc;
                color: #fff;
                padding: 10px 30px;
                border-radius: 50px;
                height: auto;
                border: none;
                box-shadow: none;
        
            &:hover.pp-submit-button,
            &:focus.pp-submit-button {
                    background: #4242ce;
                    color: #fff;
            }
        }

        p.submit {
            text-align: center;
        }

        /* Page Body Container */
        .form-table {
            max-width: 100%;
            padding: 0px 20px 0px 20px;
            float: left;
            display: flex;

            @media only screen and (max-width: $break-medium) {
                flex-direction: column;
                width: 100% !important;
            }

            .pp-module-grid {
                width: 90vw;
                background-color: #fff;
                padding: 20px;
                box-shadow: $light-box-shadow;
                border-top: 2px solid #5353dc;
                margin-right: 20px;      

                /* Module Grid Header Wrap containing Title, Search Box and Filters */
                .pp-module-grid-header {
                    display: block;
                    position: relative;
                    margin-bottom: 50px;
                    margin-top: 20px; 
                    
                    .pp-module-grid-title-filter-wrapper {

                        display: flex;
                        align-items: center;

                        .pp-modules-title {
                            font-weight: 500;
                            font-size: 16px;
                            text-align: left;
                            display: inline;
                        }

                        .pp-module-filter {
                            display: inline;
                            position: absolute;
                            right:0;
                        }
                    }

                    .pp-module-filter-category {

                        margin-top: 20px;
                        margin-left: 20px;

                        & .button-group {
                            font-size: inherit !important;
                        
                            .pp-filter-button
                            {
                                margin-right: 10px;
                                text-align: center;
                                letter-spacing: 1px;

                                &:hover ,
                                &.is-checked {
                                    border-bottom: 2px solid $background-hover-color;
                                    color: $background-hover-color;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

                .pp-modules-list {
                    display: flex;
                    justify-content:flex-start;
                    flex-wrap: wrap;

                    .pp-module {
                        flex-basis: 240px;
                        background-color: #f8f8f8;
                        padding: 16px;
                        margin-bottom:20px;
                        margin-right: 15px;
                        border-radius: 5px;
                        @extend %flex-base;
                        transition: 0.3s cubic-bezier(0.44, 0.33, 0.67, 0.86);
                        
                        &:hover {
                            box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.20);
                        }

                        .pp-module-name-icon-wrapper {
                            
                            .pp-module-name {
                                display: inline;
                                font-weight: 500;
                                font-size: 14px;
                            }

                            .pp-module-icon {
                                font-size:20px;
                                margin-right: 10px;
                                top: 5px;
                                position: relative;
                            }
                        }
                        
                        &:hover .pp-module-icon {
                            color: $background-hover-color;
                        }

                    }

                    /* Toggle */
                    .pp-admin-field-toggle {
                        position: relative;
                        display: inline-block;
                        width: 48px;
                        height: 24px;
                        
                        .pp-admin-field-toggle-slider {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: #fff;
                            border: 1px solid #ccc;
                            border-radius: 34px;
                            -webkit-transition: .4s cubic-bezier(0.39, 0.05, 0.97, 0.61);
                            transition: .4s cubic-bezier(0.39, 0.05, 0.97, 0.61);

                            &:before {
                                border-radius: 50%;
                                position: absolute;
                                content: "";
                                height: 16px;
                                width: 16px;
                                left: 3px;
                                bottom: 3px;
                                background-color: #ccc;
                                -webkit-transition: .4s cubic-bezier(0.09, 0.49, 0.97, 0.61);
                                transition: .4s cubic-bezier(0.09, 0.49, 0.97, 0.61);
                            }
                        }
                             input {
                                opacity: 0;
                                width: 0;
                                height: 0;
                            }
                        input:checked + .pp-admin-field-toggle-slider:before {
                            background-color: #5353dc;
                            -webkit-transform: translateX(22px);
                            -ms-transform: translateX(22px);
                            transform: translateX(22px);
                        }
                        input:checked + .pp-admin-field-toggle-slider {
                            background-color: #fff;
                            box-shadow: inset 0px 0px 3px 0px #bbb;
                            border-color: #5353dc;
                            border-color: transparent;
                        }
                    }
                }
            }

            .side-banner{ 

                    float: right;

                    .banner-inner.pro-upgrade-banner {
                        background: #fff;
                        margin-bottom: 40px;
                        box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.1);
                        padding: 20px;
                        border-top: 2px solid #5353dc;
                    
                        .banner-image {
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .pp-support-title {
                                display: inline-block;
                                margin-left: 10px;
                                font-size: 18px;
                            }
                        }
                        img {
                            max-width: 100%;
                            width: 120px;
                        }
                        h3 {
                            font-weight: 400;
                            line-height: 1.4;
                            margin-bottom: 0;
                        }
                        .banner-title-1 {
                            font-size: 22px;
                            font-weight: 300;
                            display: none;
                        }
                        li {
                            font-size: 15px;
                        }
                        li span {
                            margin-right: 5px;
                        }
                        .banner-action {
                            text-align: center;
                        }
                        a.pp-button {
                            margin-top: 10px;
                            padding: 10px 30px;
                            border-radius: 50px;
                        }
                    }
                }
            }
        }
}