.pp-admin-heading {
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.pp-header-wrap {
    background-color: #fff;
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.1);
}

.pp-header-wrap .pp-header-banner img {
    height: 34px;
}

.pp-header-wrap .pp-header-banner {
    float: right;
}
.pp-nav-tab-wrapper {
    border: none !important;
}

.pp-nav-tab-wrapper .nav-tab {
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #5353dc !important;
    padding: 10px 20px;
    margin: 0px 20px;
}

.form-table {
    float: left;
    max-width: 100%;
    display: flex;
}

.pp-modules-title {
    margin: 0px 10px 20px 10px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.pp-module-grid {
    width: 80%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.1);
    border-top: 2px solid #5353dc;
    margin-right: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pp-modules-list {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.pp-module {
    flex-basis: 280px;
    background-color: #f8f8f8;
    padding: 16px;
    margin-bottom:20px;
    margin-right: 15px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s cubic-bezier(0.44, 0.33, 0.67, 0.86);
}

.pp-module:hover {
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.20);
}

.pp-module-name {
    display: inline;
    font-weight: 500;
    font-size: 16px;
}

.pp-module-icon {
    font-size:24px;
    margin-right: 10px;
    top: 5px;
    position: relative;
}

.pp-module:hover .pp-module-icon {
   color: #4242ce;
}
/* Toggle */
.pp-admin-field-toggle {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}
.pp-admin-field-toggle .pp-admin-field-toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 34px;
    -webkit-transition: .4s cubic-bezier(0.39, 0.05, 0.97, 0.61);
    transition: .4s cubic-bezier(0.39, 0.05, 0.97, 0.61);
}
.pp-admin-field-toggle .pp-admin-field-toggle-slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: #ccc;
    -webkit-transition: .4s cubic-bezier(0.09, 0.49, 0.97, 0.61);
    transition: .4s cubic-bezier(0.09, 0.49, 0.97, 0.61);
}
.pp-admin-field-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}
.pp-admin-field-toggle input:checked + .pp-admin-field-toggle-slider:before {
    background-color: #5353dc;
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}
.pp-admin-field-toggle input:checked + .pp-admin-field-toggle-slider {
    background-color: #fff;
    box-shadow: inset 0px 0px 3px 0px #bbb;
    border-color: #5353dc;
    border-color: transparent;
}

/* Pro Upgrade Banner */

.pp-modules-wrap:before,
.pp-modules-wrap:after {
	content: "";
	display: table;
}
.pp-modules-wrap:after {
	clear: both;
}

.side-banner {
	width: 20%;
	float: right;
}
.pro-upgrade-banner,
.pro-upgrade-banner * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.banner-inner {
    background: #fff;
    margin-top: 40px;
	box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.1);
	padding: 20px;
	border-top: 2px solid #5353dc;
}
.pro-upgrade-banner .banner-image {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro-upgrade-banner img {
	max-width: 100%;
	width: 120px;
}
.pro-upgrade-banner h3 {
	font-weight: 400;
    line-height: 1.4;
	margin-bottom: 0;
}
.pro-upgrade-banner .banner-title-1 {
	font-size: 22px;
    font-weight: 300;
	display: none;
}
.pro-upgrade-banner li {
	font-size: 15px;
}
.pro-upgrade-banner li span {
	margin-right: 5px;
}
.pro-upgrade-banner .banner-action {
	text-align: center;
}
.pro-upgrade-banner a.pp-button {
	display: inline-block;
	text-align: center;
	margin-top: 10px;
	text-decoration: none;
    background: #5353dc;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
}
.pro-upgrade-banner a.pp-button:hover {
    background: #4242ce;
}

/* Support */

.banner-image .pp-support-title {
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
}

/* Submit Button */

input.button.pp-submit-button {
    display: inline-block;
	text-align: center;
	margin-top: 10px;
	text-decoration: none;
    background: #5353dc;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    height: auto;
    border: none;
    box-shadow: none;
}

input.button:hover.pp-submit-button,
input.button:focus.pp-submit-button {
    background: #4242ce;
    color: #fff;
}

.pp-modules-wrap p.submit {
    text-align: center;
}