.elementor-widget-pp-logo-carousel .swiper,
.elementor-widget-pp-logo-carousel .swiper-container {
  position: static;
}

.pp-logo-carousel.grayscale-normal img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.pp-logo-carousel.grayscale-normal .swiper-slide:hover img {
  -webkit-filter: none;
          filter: none;
}
.pp-logo-carousel.grayscale-hover .swiper-slide:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.pp-logo-carousel.swiper-container .swiper-slide {
  text-align: center;
}
.pp-logo-carousel.swiper-container .swiper-slide img {
  vertical-align: middle;
  width: auto;
}
.pp-logo-carousel .pp-logo-title {
  margin: 0;
}
.pp-logo-carousel .pp-logo-title a {
  color: inherit;
}

.elementor-widget-pp-logo-carousel .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background: #949494;
}
.elementor-widget-pp-logo-carousel .swiper-pagination-bullet {
  position: relative;
}
.elementor-widget-pp-logo-carousel .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 50%;
  inset-inline-start: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  min-width: 24px;
  min-height: 24px;
  width: 100%;
  height: 100%;
}

@media (prefers-reduced-motion: reduce) {
  .elementor-widget-pp-logo-carousel .swiper-wrapper {
    -webkit-transition-duration: 0ms !important;
            transition-duration: 0ms !important;
  }
}