.pp-icon {
  display: inline-block;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pp-icon i,
.pp-icon svg {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}

.pp-advanced-accordion {
  width: auto;
  height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pp-advanced-accordion .pp-accordion-tab-title {
  padding: 15px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.pp-advanced-accordion.pp-toggle-icon-align-left .pp-accordion-tab-title {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pp-accordion-toggle-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: none;
  transition: none;
  z-index: 10;
}

.pp-accordion-item .pp-accordion-toggle-icon-open,
.pp-accordion-tab-show .pp-accordion-toggle-icon-close,
.pp-accordion-tab-active-default .pp-accordion-toggle-icon-close {
  display: none;
}

.pp-accordion-tab-show .pp-accordion-toggle-icon-open,
.pp-accordion-tab-active-default .pp-accordion-toggle-icon-open {
  display: inline-block;
}

.pp-accordion-tab-content {
  display: none;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.7;
}
.pp-accordion-tab-content p:last-child {
  margin: 0;
}
.pp-accordion-tab-content.pp-accordion-tab-active {
  display: block;
}

.pp-accordion-item {
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pp-accordion-title-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pp-accordion-tab-icon {
  display: inline-block;
  margin-left: 10px;
}