.pp-dual-heading {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 6px;
}
.pp-dual-heading .pp-first-text {
  white-space: normal;
}
.pp-dual-heading .pp-second-text {
  white-space: nowrap;
}