.pp-no-trans {
  -webkit-transition: none;
  transition: none;
}

.pp-media-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.pp-icon {
  display: inline-block;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pp-icon i,
.pp-icon svg {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}

.pp-image-accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
}
.pp-image-accordion .pp-image-accordion-button-wrap * {
  -webkit-transition: none;
  transition: none;
}
.pp-image-accordion .pp-image-accordion-button {
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.pp-image-accordion-item {
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  -webkit-transition: -webkit-box-flex 0.4s;
  transition: -webkit-box-flex 0.4s;
  transition: flex 0.4s;
  transition: flex 0.4s, -webkit-box-flex 0.4s, -ms-flex 0.4s;
  overflow: hidden;
}
.pp-image-accordion-item:last-child {
  margin-right: 0 !important;
}

.pp-image-accordion-active {
  cursor: default;
}

.pp-image-accordion-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.pp-image-accordion-overlay .pp-image-accordion-content-wrap {
  z-index: 1;
}

.pp-image-accordion-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}
.pp-image-accordion-content-wrap p:last-child {
  margin-bottom: 0;
}

.pp-image-accordion-content-wrap * {
  visibility: hidden;
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.pp-image-accordion-title {
  color: #fff;
  -webkit-transform: translate3d(0, -60px, 0);
          transform: translate3d(0, -60px, 0);
}

.pp-image-accordion-description {
  color: #fff;
  -webkit-transform: translate3d(0, 60px, 0);
          transform: translate3d(0, 60px, 0);
}

.pp-image-accordion-button-wrap {
  -webkit-transform: translate3d(0, 60px, 0);
          transform: translate3d(0, 60px, 0);
}

.pp-image-accordion-content-active {
  visibility: visible;
}

.pp-image-accordion-content-active * {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none !important;
          transform: none !important;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
}

.pp-image-accordion-on-hover .pp-image-accordion-item:hover {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.pp-image-accordion-on-hover .pp-image-accordion-item:hover .pp-image-accordion-content-wrap * {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
}

.pp-image-accordion-orientation-horizontal .pp-image-accordion {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pp-image-accordion-orientation-horizontal .pp-image-accordion a:hover .pp-image-accordion-overlay {
  background-color: transparent;
}
.pp-image-accordion-orientation-horizontal .pp-image-accordion-item {
  margin-right: 0 !important;
}

@media (max-width: 1024px) {
  .pp-image-accordion-stack-on-tablet .pp-image-accordion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pp-image-accordion-stack-on-tablet .pp-image-accordion a:hover .pp-image-accordion-overlay {
    background-color: transparent;
  }
  .pp-image-accordion-stack-on-tablet .pp-image-accordion-item {
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  .pp-image-accordion-stack-on-mobile .pp-image-accordion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pp-image-accordion-stack-on-mobile .pp-image-accordion a:hover .pp-image-accordion-overlay {
    background-color: transparent;
  }
  .pp-image-accordion-stack-on-mobile .pp-image-accordion-item {
    margin-right: 0 !important;
  }
}