.pp-icon {
  display: inline-block;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pp-icon i,
.pp-icon svg {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}

.pp-counter {
  display: inline-block;
}
.pp-counter-icon-wrap, .pp-counter-icon, .pp-counter-icon-divider, .pp-counter-num-divider {
  display: inline-block;
}
.pp-counter-icon {
  line-height: 1;
}
.pp-counter-layout-3-number-wrap,
.pp-counter-layout-3 .pp-icon-title-wrap, .pp-counter-layout-4-number-wrap,
.pp-counter-layout-4 .pp-icon-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pp-counter-layout-5, .pp-counter-layout-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pp-counter-layout-6 .pp-counter-icon-wrap {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.pp-counter-layout-7, .pp-counter-layout-8 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pp-counter-layout-7 .pp-icon-title-wrap, .pp-counter-layout-8 .pp-icon-title-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.pp-counter-layout-7 .pp-counter-title-wrap, .pp-counter-layout-8 .pp-counter-title-wrap {
  text-align: right;
}
.pp-counter-layout-8 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.pp-counter-layout-8 .pp-icon-title-wrap {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.pp-counter-layout-8 .pp-counter-title-wrap {
  text-align: left;
}
.pp-counter .pp-icon-title-wrap .pp-counter-title {
  display: inline-block;
}
.pp-counter .pp-icon-number-wrap .pp-counter-number-wrap {
  display: inline-block;
}

.pp-counter-number {
  direction: rtl;
}

.pp-counter-number-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 69px;
  line-height: 1;
}