.elementor-widget-pp-logo-carousel .swiper,
.elementor-widget-pp-logo-carousel .swiper-container {
  position: static;
}

.pp-logo-carousel.grayscale-normal img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.pp-logo-carousel.grayscale-normal .swiper-slide:hover img {
  -webkit-filter: none;
          filter: none;
}
.pp-logo-carousel.grayscale-hover .swiper-slide:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.pp-logo-carousel.swiper-container .swiper-slide {
  text-align: center;
}
.pp-logo-carousel.swiper-container .swiper-slide img {
  vertical-align: middle;
  width: auto;
}
.pp-logo-carousel .pp-logo-title {
  margin: 0;
}
.pp-logo-carousel .pp-logo-title a {
  color: inherit;
}