.pp-image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.pp-icon {
  display: inline-block;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pp-icon i,
.pp-icon svg {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}

.pp-post {
  overflow: hidden;
}
.pp-post .pp-post-title a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.pp-post-thumbnail {
  position: relative;
}
.pp-post-thumbnail img {
  vertical-align: middle;
  width: 100%;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.pp-posts-thumbnail-ratio .pp-post-thumbnail-wrap {
  display: block;
  position: relative;
}
.pp-posts-thumbnail-ratio .pp-post-thumbnail img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}

.pp-post-excerpt p {
  margin: 0;
}

.pp-posts-align-buttons .pp-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.pp-posts-align-buttons .pp-post-content-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.pp-posts-align-buttons .pp-post-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.pp-posts-align-buttons.pp-posts-skin-event .pp-posts-button {
  -ms-flex-item-align: center;
      align-self: center;
}

.pp-post-separator-wrap {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pp-post-separator {
  background: #e6e6e6;
  height: 1px;
  width: 100%;
}

.pp-posts-skin-portfolio .pp-post-content {
  position: relative;
}
.pp-posts-skin-portfolio .pp-post-thumb-content-wrap {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.pp-posts-skin-portfolio .pp-post-thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.pp-posts-skin-portfolio .pp-post-thumbnail a {
  display: block;
  height: 100%;
}
.pp-posts-skin-portfolio .pp-post-thumbnail a:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.pp-posts-skin-portfolio .pp-post-thumb-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.pp-posts-skin-portfolio[data-layout=masonry] .pp-post-thumbnail {
  position: static;
}

.pp-equal-height-yes .pp-posts-skin-portfolio .pp-post-thumbnail {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.pp-content-on-hover .pp-post-thumb-content {
  opacity: 0;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.pp-content-on-hover:hover .pp-post-thumb-content {
  opacity: 1;
}

.pp-posts-skin-card .pp-post {
  border: 1px solid #e6e6e6;
}
.pp-posts-skin-card .pp-post-meta-wrap {
  border-top: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
}
.pp-posts-skin-card .pp-post-avtar {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 10px;
}
.pp-posts-skin-card .pp-post-avtar img {
  border-radius: 50%;
}

.pp-posts-skin-creative .pp-post-title {
  font-size: 18px;
  text-transform: uppercase;
}
.pp-posts-skin-creative .pp-post-meta {
  border-bottom: 1px solid #797979;
  border-top: 1px solid #797979;
  margin-bottom: 10px;
  padding: 10px 0;
}
.pp-posts-skin-creative .pp-post-avtar {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.pp-posts-skin-creative .pp-post-avtar img {
  border-radius: 50%;
}

.pp-post-content-align-left .pp-posts-skin-creative .pp-post-content {
  text-align: right;
}
.pp-post-content-align-left .pp-posts-skin-creative .pp-post-authorbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pp-post-content-align-left .pp-posts-skin-creative .pp-post-avtar {
  margin-left: 10px;
}

.pp-post-content-align-center .pp-posts-skin-creative .pp-post-content {
  text-align: center;
}
.pp-post-content-align-center .pp-posts-skin-creative .pp-post-authorbox {
  display: block;
}
.pp-post-content-align-center .pp-posts-skin-creative .pp-post-avtar {
  margin-bottom: 10px;
}

.pp-post-content-align-right .pp-posts-skin-creative .pp-post-content {
  text-align: left;
}
.pp-post-content-align-right .pp-posts-skin-creative .pp-post-authorbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.pp-post-content-align-right .pp-posts-skin-creative .pp-post-avtar {
  margin-right: 10px;
}

.pp-posts-skin-news .pp-post-wrap,
.pp-posts-skin-checkerboard .pp-post-wrap {
  width: 100%;
}
.pp-posts-skin-news .pp-post,
.pp-posts-skin-checkerboard .pp-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.pp-posts-skin-news .pp-post-thumbnail,
.pp-posts-skin-checkerboard .pp-post-thumbnail {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.pp-posts-skin-news .pp-post-content,
.pp-posts-skin-checkerboard .pp-post-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.pp-posts-skin-checkerboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.pp-posts-skin-checkerboard .pp-post-wrap:nth-child(2n) .pp-post {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.pp-posts-skin-checkerboard .pp-post-content-wrap {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.pp-posts-skin-checkerboard .pp-post-content {
  padding: 20px;
}
.pp-posts-skin-checkerboard .pp-post-thumbnail img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pp-post-thumbnail-align-right .pp-posts-skin-news .pp-post-thumbnail {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.pp-post-thumbnail-align-right .pp-posts-skin-news .pp-post-content {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.pp-posts-skin-overlap .pp-post-terms-wrap {
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
}
.pp-posts-skin-overlap .pp-post-content-wrap {
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.pp-post-terms {
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  display: inline-block;
}
.pp-post-terms a {
  color: inherit;
}

.pp-post-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 30px;
  padding: 0;
}
.pp-post-filters .pp-post-filter {
  background: #eee;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 0;
  margin-left: 5px;
  padding: 5px 12px;
}
.pp-post-filters .pp-post-filter:hover, .pp-post-filters .pp-post-filter.pp-filter-current {
  background: #000;
  color: #fff;
}

.pp-post-filters-dropdown {
  display: none;
  margin: 0 0 30px;
}
.pp-post-filters-dropdown .pp-post-filters-dropdown-button {
  background: #eee;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 6px;
  padding: 10px 12px;
}
.pp-post-filters-dropdown .pp-post-filters-dropdown-list {
  display: none;
  margin: 0 0 30px;
  padding: 0;
  list-style-type: none;
  position: absolute;
  z-index: 99;
}
.pp-post-filters-dropdown .pp-post-filters-dropdown-list .pp-post-filters-dropdown-item {
  background: #eee;
  cursor: pointer;
  margin-right: 0;
  margin-left: 0;
  padding: 5px 12px;
}
.pp-post-filters-dropdown .pp-post-filters-dropdown-list .pp-post-filters-dropdown-item:hover, .pp-post-filters-dropdown .pp-post-filters-dropdown-list .pp-post-filters-dropdown-item.pp-filter-current {
  background: #000;
  color: #fff;
}

.pp-post-filters-dropdown-desktop .pp-post-filters.pp-has-post-filters-dropdown {
  display: none;
}
.pp-post-filters-dropdown-desktop .pp-post-filters-dropdown {
  display: block;
}

.pp-post-filters-align-center .pp-post-filters-dropdown {
  text-align: center;
}
.pp-post-filters-align-center .pp-post-filters-dropdown .pp-post-filters-dropdown-list {
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.pp-post-filters-align-right .pp-post-filters-dropdown {
  text-align: left;
}
.pp-post-filters-align-right .pp-post-filters-dropdown .pp-post-filters-dropdown-list {
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.pp-post-event-date {
  background: #000;
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 1.4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -30px auto 0;
  width: 60px;
  height: 60px;
  position: relative;
  text-transform: uppercase;
}

.pp-equal-height-yes .pp-post-wrap,
.pp-equal-height-yes .pp-post {
  height: 100%;
}
.pp-equal-height-yes .pp-posts-skin-card .pp-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pp-equal-height-yes .pp-posts-skin-card .pp-post-meta-wrap {
  margin-top: auto;
}

.pp-posts-pagination a,
.pp-posts-pagination .page-numbers {
  display: inline-block;
}

.pp-posts-infinite-scroll .pp-posts-pagination-wrap {
  display: none;
}

.pp-search-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.pp-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
  border: 0 solid transparent;
  margin-bottom: 20px;
  min-height: 50px;
  max-width: 400px;
  width: 100%;
}
.pp-search-form button,
.pp-search-form input[type=search] {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  min-width: 0;
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.pp-search-form button:focus,
.pp-search-form input[type=search]:focus {
  outline: 0;
}
.pp-search-form input[type=search] {
  background: #eceeef;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  color: #55595c;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.pp-search-form button {
  background-color: #818a91;
  font-size: 16px;
  color: #fff;
  border-radius: 0;
  min-width: 50px;
}
.pp-search-form .pp-search-form-input::-webkit-input-placeholder {
  color: inherit;
  font-family: inherit;
  opacity: 0.6;
}
.pp-search-form .pp-search-form-input:-ms-input-placeholder {
  color: inherit;
  font-family: inherit;
  opacity: 0.6;
}
.pp-search-form .pp-search-form-input::-moz-placeholder {
  color: inherit;
  font-family: inherit;
  opacity: 0.6;
}
.pp-search-form .pp-search-form-input::-ms-input-placeholder {
  color: inherit;
  font-family: inherit;
  opacity: 0.6;
}
.pp-search-form .pp-search-form-input::placeholder {
  color: inherit;
  font-family: inherit;
  opacity: 0.6;
}
.pp-search-form .e-font-icon-svg-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pp-search-form .pp-search-form-submit svg {
  fill: #fff;
  width: 16px;
  height: 16px;
}

.pp-search-form-text .pp-search-form-submit {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.pp-loader,
.pp-posts-loader {
  width: 46px;
  height: 46px;
}

.pp-loader {
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translateX(50%) translateY(-50%);
          transform: translateX(50%) translateY(-50%);
  z-index: 2;
}

.pp-posts-loader {
  display: none;
  margin-right: auto;
  margin-left: auto;
}

.pp-loader:after,
.pp-posts-loader:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #000 transparent #000 transparent;
  -webkit-animation: pp-loader-dual-ring 1.2s linear infinite;
          animation: pp-loader-dual-ring 1.2s linear infinite;
}

.pp-loader:after {
  width: 46px;
  height: 46px;
}

.pp-posts.pp-posts-skin-template.pp-posts-carousel .swiper-slide-active * {
  visibility: visible;
}

@-webkit-keyframes pp-loader-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes pp-loader-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
.pp-loader-overlay {
  background: rgba(255, 255, 255, 0.5);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

@media (max-width: 1024px) {
  .pp-post-filters-dropdown-tablet .pp-post-filters.pp-has-post-filters-dropdown {
    display: none;
  }
  .pp-post-filters-dropdown-tablet .pp-post-filters-dropdown {
    display: block;
  }
  .pp-post-filters-tablet-align-left .pp-post-filters-dropdown .pp-post-filters-dropdown-list {
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .pp-post-filters-tablet-align-center .pp-post-filters-dropdown .pp-post-filters-dropdown-list {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .pp-post-filters-tablet-align-right .pp-post-filters-dropdown .pp-post-filters-dropdown-list {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .pp-posts-image-stack-tablet .pp-post {
    display: block;
  }
  .pp-posts-image-stack-tablet .pp-post-thumbnail {
    float: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .pp-post-filters-dropdown-mobile .pp-post-filters.pp-has-post-filters-dropdown {
    display: none;
  }
  .pp-post-filters-dropdown-mobile .pp-post-filters-dropdown {
    display: block;
  }
  .pp-post-filters-mobile-align-left .pp-post-filters-dropdown .pp-post-filters-dropdown-list {
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .pp-post-filters-mobile-align-center .pp-post-filters-dropdown .pp-post-filters-dropdown-list {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .pp-post-filters-mobile-align-right .pp-post-filters-dropdown .pp-post-filters-dropdown-list {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .pp-posts-image-stack-mobile .pp-post {
    display: block;
  }
  .pp-posts-image-stack-mobile .pp-post-thumbnail {
    float: none !important;
  }
}