.pp-contact-form input[type=text],
.pp-contact-form input[type=email],
.pp-contact-form input[type=url],
.pp-contact-form input[type=tel],
.pp-contact-form input[type=date],
.pp-contact-form input[type=number],
.pp-contact-form textarea {
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  float: none;
  height: auto;
  margin: 0;
  outline: 0;
  width: auto;
}
.pp-contact-form input[type=submit] {
  border: 0;
  float: none;
  height: auto;
  margin: 0;
  padding: 10px 20px;
  width: auto;
}
.pp-contact-form input[type=submit],
.pp-contact-form input[type=button] {
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.pp-contact-form.placeholder-hide input::-webkit-input-placeholder,
.pp-contact-form.placeholder-hide textarea::-webkit-input-placeholder {
  opacity: 0;
  visibility: hidden;
}
.pp-contact-form.placeholder-hide input::-moz-placeholder,
.pp-contact-form.placeholder-hide textarea::-moz-placeholder {
  opacity: 0;
  visibility: hidden;
}
.pp-contact-form.placeholder-hide input:-ms-input-placeholder,
.pp-contact-form.placeholder-hide textarea:-ms-input-placeholder {
  opacity: 0;
  visibility: hidden;
}
.pp-contact-form.placeholder-hide input:-moz-placeholder,
.pp-contact-form.placeholder-hide textarea:-moz-placeholder {
  opacity: 0;
  visibility: hidden;
}

.pp-custom-radio-checkbox input[type=checkbox],
.pp-custom-radio-checkbox input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-style: solid;
  border-width: 0;
  outline: none;
  min-width: 1px;
  width: 15px;
  height: 15px;
  background: #ddd;
  padding: 3px;
  vertical-align: middle;
}
.pp-custom-radio-checkbox input[type=checkbox]:before,
.pp-custom-radio-checkbox input[type=radio]:before {
  content: "";
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
}
.pp-custom-radio-checkbox input[type=checkbox]:checked:before,
.pp-custom-radio-checkbox input[type=radio]:checked:before {
  background: #999;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.pp-custom-radio-checkbox input[type=radio] {
  border-radius: 50%;
}
.pp-custom-radio-checkbox input[type=radio]:before {
  border-radius: 50%;
}

.pp-formidable-forms .frm_form_field .frm_primary_label {
  display: none;
}
.pp-formidable-forms-labels-yes .pp-formidable-forms .frm_primary_label {
  display: block;
}

.pp-custom-radio-checkbox .form-field input[type=checkbox],
.pp-custom-radio-checkbox .form-field input[type=radio] {
  border-style: solid;
  border-width: 0;
  display: inline-block;
  vertical-align: middle;
  margin: 2px 0 2px 5px;
  padding: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.pp-formidable-forms-button-full-width .pp-formidable-forms .frm_submit .frm_button_submit {
  width: 100%;
}