/* Elementor Empty Widget Container Fix */
.elementor-widget-pp-instafeed .elementor-widget-container {
  min-height: 2px;
}

.pp-media-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.pp-icon {
  display: inline-block;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pp-icon i,
.pp-icon svg {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}

.pp-instagram-feed {
  position: relative;
}
.pp-instagram-feed .pp-feed-item {
  float: left;
  position: relative;
}
.pp-instagram-feed .pp-feed-item img {
  -webkit-filter: none;
          filter: none;
  vertical-align: middle;
}
.pp-instagram-feed .pp-feed-item:hover img {
  -webkit-filter: none;
          filter: none;
}
.pp-instagram-feed-gallery .pp-feed-item {
  width: 20%;
}
.pp-instagram-feed-title-wrap {
  background: #fff;
  position: absolute;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pp-insta-title-top .pp-instagram-feed-title-wrap {
  top: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translate(-50%);
}
.pp-insta-title-bottom .pp-instagram-feed-title-wrap {
  bottom: 0;
  top: auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translate(-50%);
}
.pp-instagram-feed-title {
  display: block;
  padding: 6px 30px;
  text-align: center;
}
.pp-instagram-feed .pp-feed-item {
  position: relative;
}
.pp-instagram-feed .pp-feed-item-inner {
  display: block;
  position: relative;
}
.pp-instagram-feed-gray .pp-feed-item img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: filter 0.25s linear 0s;
  -webkit-transition: -webkit-filter 0.25s linear 0s;
  transition: -webkit-filter 0.25s linear 0s;
  transition: filter 0.25s linear 0s;
  transition: filter 0.25s linear 0s, -webkit-filter 0.25s linear 0s;
}
.pp-instagram-feed-hover-gray .pp-feed-item:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: filter 0.25s linear 0s;
  -webkit-transition: -webkit-filter 0.25s linear 0s;
  transition: -webkit-filter 0.25s linear 0s;
  transition: filter 0.25s linear 0s;
  transition: filter 0.25s linear 0s, -webkit-filter 0.25s linear 0s;
}
.pp-instagram-feed .pp-overlay-container {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
.pp-instagram-feed .pp-overlay-container span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
}
.pp-instagram-feed-hover .pp-overlay-container {
  opacity: 0;
}
.pp-instagram-feed-hover .pp-feed-item:hover .pp-overlay-container {
  opacity: 1;
}
.pp-instagram-feed .swiper-container .swiper-slide img {
  width: 100%;
}

.pp-insta-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pp-instafeed {
  position: relative;
}

.pp-if-icon {
  margin-right: 5px;
}

.pp-if-square-images .pp-feed-item-inner {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
}
.pp-if-square-images .pp-if-img {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.pp-if-square-images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pp-load-more-button {
  cursor: pointer;
}
.pp-load-more-button[disabled=disabled] {
  display: none;
}

.pp-button-loading .pp-button-loader {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 8px;
}
.pp-button-loading .pp-button-loader:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: pp-dual-ring 1.2s linear infinite;
          animation: pp-dual-ring 1.2s linear infinite;
}
@-webkit-keyframes pp-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes pp-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Warning for Empty Instagram Feed */
.pp-instagram-warning {
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 12px -5px #c0c0c0;
          box-shadow: 0 0 12px -5px #c0c0c0;
}
.pp-instagram-warning::before {
  content: "\f071";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  font-size: 20px;
  color: #e14e4e;
}