.pp-contact-form input[type=text],
.pp-contact-form input[type=email],
.pp-contact-form input[type=url],
.pp-contact-form input[type=tel],
.pp-contact-form input[type=date],
.pp-contact-form input[type=number],
.pp-contact-form textarea {
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  float: none;
  height: auto;
  margin: 0;
  outline: 0;
  width: auto;
}
.pp-contact-form input[type=submit] {
  border: 0;
  float: none;
  height: auto;
  margin: 0;
  padding: 10px 20px;
  width: auto;
}
.pp-contact-form input[type=submit],
.pp-contact-form input[type=button] {
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.pp-contact-form.placeholder-hide input::-webkit-input-placeholder,
.pp-contact-form.placeholder-hide textarea::-webkit-input-placeholder {
  opacity: 0;
  visibility: hidden;
}
.pp-contact-form.placeholder-hide input::-moz-placeholder,
.pp-contact-form.placeholder-hide textarea::-moz-placeholder {
  opacity: 0;
  visibility: hidden;
}
.pp-contact-form.placeholder-hide input:-ms-input-placeholder,
.pp-contact-form.placeholder-hide textarea:-ms-input-placeholder {
  opacity: 0;
  visibility: hidden;
}
.pp-contact-form.placeholder-hide input:-moz-placeholder,
.pp-contact-form.placeholder-hide textarea:-moz-placeholder {
  opacity: 0;
  visibility: hidden;
}

.pp-custom-radio-checkbox input[type=checkbox],
.pp-custom-radio-checkbox input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-style: solid;
  border-width: 0;
  outline: none;
  min-width: 1px;
  width: 15px;
  height: 15px;
  background: #ddd;
  padding: 3px;
  vertical-align: middle;
}
.pp-custom-radio-checkbox input[type=checkbox]:before,
.pp-custom-radio-checkbox input[type=radio]:before {
  content: "";
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
}
.pp-custom-radio-checkbox input[type=checkbox]:checked:before,
.pp-custom-radio-checkbox input[type=radio]:checked:before {
  background: #999;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.pp-custom-radio-checkbox input[type=radio] {
  border-radius: 50%;
}
.pp-custom-radio-checkbox input[type=radio]:before {
  border-radius: 50%;
}

.pp-contact-form-7 .wpcf7-form:after {
  clear: both;
  content: "";
  font-size: 0;
  height: 0;
  display: block;
  visibility: hidden;
}
.pp-contact-form-7 .wpcf7-form label,
.pp-contact-form-7 .wpcf7-form .wpcf7-form-control-wrap {
  display: block;
}
.pp-contact-form-7 .wpcf7-form p {
  margin-bottom: 0;
}
.pp-contact-form-7.labels-hide .wpcf7-form label {
  display: none;
}

.pp-contact-form-7-title {
  margin-bottom: 10px;
}

.pp-contact-form-7-description {
  margin-bottom: 20px;
}

.pp-contact-form-7-button-full-width .wpcf7-form-control.wpcf7-submit {
  width: 100%;
}