.pp-contact-form input[type=text],
.pp-contact-form input[type=email],
.pp-contact-form input[type=url],
.pp-contact-form input[type=tel],
.pp-contact-form input[type=date],
.pp-contact-form input[type=number],
.pp-contact-form textarea {
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  float: none;
  height: auto;
  margin: 0;
  outline: 0;
  width: auto;
}
.pp-contact-form input[type=submit] {
  border: 0;
  float: none;
  height: auto;
  margin: 0;
  padding: 10px 20px;
  width: auto;
}
.pp-contact-form input[type=submit],
.pp-contact-form input[type=button] {
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.pp-contact-form.placeholder-hide input::-webkit-input-placeholder,
.pp-contact-form.placeholder-hide textarea::-webkit-input-placeholder {
  opacity: 0;
  visibility: hidden;
}
.pp-contact-form.placeholder-hide input::-moz-placeholder,
.pp-contact-form.placeholder-hide textarea::-moz-placeholder {
  opacity: 0;
  visibility: hidden;
}
.pp-contact-form.placeholder-hide input:-ms-input-placeholder,
.pp-contact-form.placeholder-hide textarea:-ms-input-placeholder {
  opacity: 0;
  visibility: hidden;
}
.pp-contact-form.placeholder-hide input:-moz-placeholder,
.pp-contact-form.placeholder-hide textarea:-moz-placeholder {
  opacity: 0;
  visibility: hidden;
}

.pp-custom-radio-checkbox input[type=checkbox],
.pp-custom-radio-checkbox input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-style: solid;
  border-width: 0;
  outline: none;
  min-width: 1px;
  width: 15px;
  height: 15px;
  background: #ddd;
  padding: 3px;
  vertical-align: middle;
}
.pp-custom-radio-checkbox input[type=checkbox]:before,
.pp-custom-radio-checkbox input[type=radio]:before {
  content: "";
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
}
.pp-custom-radio-checkbox input[type=checkbox]:checked:before,
.pp-custom-radio-checkbox input[type=radio]:checked:before {
  background: #999;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.pp-custom-radio-checkbox input[type=radio] {
  border-radius: 50%;
}
.pp-custom-radio-checkbox input[type=radio]:before {
  border-radius: 50%;
}

.pp-wpforms .wpforms-container .wpforms-form input[type=submit],
.pp-wpforms .wpforms-container .wpforms-form button[type=submit],
.pp-wpforms .wpforms-container .wpforms-form .wpforms-page-button {
  border: 0;
}
.pp-wpforms .wpforms-container .wpforms-form input[type=submit]:hover,
.pp-wpforms .wpforms-container .wpforms-form button[type=submit]:hover,
.pp-wpforms .wpforms-container .wpforms-form .wpforms-page-button:hover {
  border: 0;
}
.pp-wpforms .wpforms-container .wpforms-form input[type=checkbox],
.pp-wpforms .wpforms-container .wpforms-form input[type=radio] {
  padding: 3px;
}
.pp-wpforms .wpforms-container .wpforms-form .wpforms-field-label {
  display: none;
}
.pp-wpforms .wpforms-container .wpforms-form .wpforms-field-name .wpforms-field-row {
  max-width: 100%;
}
.pp-wpforms .wpforms-container .wpforms-field input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.pp-wpforms .wpforms-container .wpforms-field textarea,
.pp-wpforms .wpforms-container .wpforms-field select {
  max-width: 100% !important;
}
.pp-wpforms-labels-yes .wpforms-container .wpforms-form .wpforms-field-label {
  display: block;
}

.pp-wpforms-form-button-full-width .wpforms-submit-container .wpforms-submit {
  width: 100%;
}