.pp-icon {
  display: inline-block;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pp-icon i,
.pp-icon svg {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}

.pp-image-hotspots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.pp-hot-spot-wrap {
  cursor: pointer;
  position: absolute;
  left: 30%;
  top: 30%;
  border-radius: 50%;
  display: block;
}

.pp-hot-spot-image {
  position: relative;
}

.pp-hot-spot-inner {
  cursor: pointer;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px;
  width: 14px;
  height: 14px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.pp-hot-spot-inner.hotspot-animation:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  -webkit-animation: pp-glow 2s infinite;
          animation: pp-glow 2s infinite;
  left: 0;
  top: 0;
}
.pp-hot-spot-inner.hotspot-animation:hover:before {
  -webkit-animation: none;
          animation: none;
}
.pp-hot-spot-inner.hotspot-animation .pp-hotspot-text {
  z-index: 1;
}

.pp-hot-spot-inner,
.pp-hot-spot-inner:before {
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  height: 100%;
  width: 100%;
}

.pp-hotspot-icon {
  position: relative;
}

.pp-hotspot-icon-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

@-webkit-keyframes pp-glow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes pp-glow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}
.tipso_content p:last-child {
  margin-bottom: 0;
}

.pp-hotspot-img-align-center .pp-image-hotspots {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pp-hotspot-img-align-left .pp-image-hotspots {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.pp-hotspot-img-align-right .pp-image-hotspots {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 1024px) {
  .pp-hotspot-img-align-tablet-center .pp-image-hotspots {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pp-hotspot-img-align-tablet-left .pp-image-hotspots {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .pp-hotspot-img-align-tablet-right .pp-image-hotspots {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media only screen and (max-width: 767px) {
  .pp-hotspot-img-align-mobile-center .pp-image-hotspots {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pp-hotspot-img-align-mobile-left .pp-image-hotspots {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .pp-hotspot-img-align-mobile-right .pp-image-hotspots {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}