@import "../mixins/mixins-master";

.pp-slider-arrow {
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    top: 50%;
    width: 1.8182em;
    height: 1.8182em;
    transform: translateY(-50%);
    z-index: 1;

	@include transition($target: all, $time: 0.25s, $timing-function: linear);

    svg {
        fill: currentcolor;
        width: auto;
        height: 1em;
    }
}

.pp-arrow-next {
    inset-inline-start: auto;
    inset-inline-end: 20px;
}

.pp-arrow-prev {
    inset-inline-start: 20px;
    inset-inline-end: auto;
}

.swiper-container-wrap,
.swiper-container {

    .swiper-slide {
        text-align: center;
    }

    &-dots-outside {

        .swiper-pagination {
            position: static;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        background-image: none;
        font-size: 20px;
        height: 1.8182em;
        line-height: 1;
        margin: 0;
        text-align: center;
        transform: translateY(-50%);
        width: 1.8182em;

        .fa {
            vertical-align: top;
        }
    }
}

.pp-swiper-button {

    svg {
        fill: currentcolor;
        width: auto;
        height: 1em;
    }
}

.swiper-button-next,
.swiper-button-prev {

	&:focus {
		outline: 0;
	}
}

.swiper-container-wrap {
    position: relative;

    .swiper-pagination {
        bottom: 10px;
        inset-inline-start: 0;
        width: 100%;
    }

    .swiper-pagination-bullet {
        background: #ccc;
        margin: 0 4px;
        opacity: 1;
        height: 8px;
        width: 8px;
    }

    .swiper-pagination-bullet-active {
        background: #000;
    }
}

.pp-slider-arrow,
.pp-slider-arrow:focus,
.swiper-pagination-bullet,
.swiper-pagination-bullet:focus {
    outline: 0;;
}

.pp-swiper-slider-pagination-outside {

    .swiper-pagination {
        position: static;
    }
}

.elementor-element {

    .swiper-container-wrap,
    .swiper-container {

        .pp-slider-arrow.swiper-button-disabled {
            opacity: 0.3;
        }
    }
}