@import "forms";

.pp-formidable-forms {
	.frm_form_field {
		.frm_primary_label {
			display: none;
		}
	}
    &-labels-yes {
        .pp-formidable-forms {
			.frm_primary_label {
				display: block;
			}
        }
    }
}
.pp-custom-radio-checkbox {
    .form-field {
        input[type="checkbox"],
        input[type="radio"] {
            border-style: solid;
            border-width: 0;
			display: inline-block;
			vertical-align: middle;
			margin: 2px 5px 2px 0;
            padding: 3px;
            appearance: none;
        }
    }
}
.pp-formidable-forms-button-full-width {
	.pp-formidable-forms {
		.frm_submit {
			.frm_button_submit {
				width: 100%;
			}
		}
    }
}