@import "forms";

.pp-gravity-form {
    .gform_wrapper {
        .gform_footer {
            margin: 0;
            padding: 0;
        }
        textarea {
            padding: 0;
        }
        .gform_footer,
        .gform_page_footer {
            input.button,
            input[type="submit"] {
                margin: 0;
            }
        }
        .gform_page_footer {
            input[type="button"] {
                margin-right: 4px;
            }
            input[type="submit"] {
                margin-left: 4px;
            }
        }
    }
    &.title-description-hide {
        .gform_heading {
            display: none;
        }
    }
    &.labels-hide {
        .gform_wrapper .top_label .gfield_label,
        .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
            display: none;
        }
    }
    .gform_footer,
    .gform_page_footer {
        input[type="submit"],
        input[type="button"] {
            background: #428bca;
            border: none;
            color: #fff;
            display: inline-block;
            padding: 10px 15px;
        }
    }
}
.pp-gravity-form-button-full-width .gform_wrapper {
    .gform_footer,
    .gform_page_footer {
        input[type="submit"] {
            width: 100% !important;
        }
    }
    .gform_page_footer {
        input[type="submit"] {
            margin-top: 20px;
        }
    }
}
.pp-gravity-form-pagination-buttons-full-width .gform_wrapper {
    .gform_page_footer {
        input[type="button"] {
            margin-top: 20px;
            width: 100%;
        }
    }
}
.pp-gravity-form {
	.gform_wrapper {
		select {
			border-radius: 0;
			height: auto;
			display: inline-block;
			appearance: none;
		}
		.pp-gf-select-custom {
			position: relative;
			&:after {
				content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBkPSJNMjAxLjQgMzQyLjZjMTIuNSAxMi41IDMyLjggMTIuNSA0NS4zIDBsMTYwLTE2MGMxMi41LTEyLjUgMTIuNS0zMi44IDAtNDUuM3MtMzIuOC0xMi41LTQ1LjMgMEwyMjQgMjc0LjcgODYuNiAxMzcuNGMtMTIuNS0xMi41LTMyLjgtMTIuNS00NS4zIDBzLTEyLjUgMzIuOCAwIDQ1LjNsMTYwIDE2MHoiLz48L3N2Zz4=');
				pointer-events: none;
				position: absolute;
				right: .8em;
                @include center(vertical);
                width: 12px;
				z-index: 2;
			}
		}
	}
}