.pp-tiled-posts {
    a:before {
        bottom: 0;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .pp-tiled-post-content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        pointer-events: none;
    }
    .pp-tiled-post-title {
        color: #fff;
        font-size: 24px;
        margin-bottom: 0;
    }
    .pp-tiled-post {
        float: left;
        height: 265px;
        position: relative;
        width: 100%;
        &-content-top {
            bottom: auto;
            top: 0;
        }
        &-content-middle {
            bottom: auto;
            @include center(vertical);
        }
    }
    .pp-tiled-post-1 {
        height: 535px;
        width: 50%;
    }
    .pp-tiles-posts-right {
        float: left;
        padding-left: 5px;
        width: 50%;
    }
    .pp-tiled-post-5 {
        width: 50%;
    }
    &-layout-1 {
        .pp-tiled-post-2 {
            margin-bottom: 5px;
            width: 100%;
        }
        .pp-tiled-post-4 {
            width: 50%;
        }
        .pp-tiled-post-3 {
            margin-right: 5px;
            width: calc(50% - 5px);
        }
    }
    &-layout-2 {
        .pp-tiled-post-2 {
            margin-bottom: 5px;
        }
    }
    &-layout-3 {
        .pp-tiled-post-2 {
            margin-bottom: 5px;
        }
        .pp-tiled-post-1 {
            width: 70%;
        }
        .pp-tiles-posts-right {
            width: 30%;
        }
    }
    &-layout-4 {
        .pp-tiled-post-2,
        .pp-tiled-post-3 {
            margin-bottom: 5px;
            width: 50%;
        }
        .pp-tiled-post-2,
        .pp-tiled-post-4 {
            margin-right: 5px;
            width: calc(50% - 5px);
        }
    }
    &-layout-5 {
        .pp-tiled-post {
            width: calc( 33.3333% - 2.5px );
        }
        .pp-tiled-post-1,
        .pp-tiled-post-2 {
            margin-bottom: 5px;
            height: 330px;
            width: calc( 50% - 2.5px );
        }
        .pp-tiled-post-1,
        .pp-tiled-post-3,
        .pp-tiled-post-4 {
            margin-right: 2.5px;
        }
        .pp-tiled-post-2,
        .pp-tiled-post-4,
        .pp-tiled-post-5 {
            margin-left: 2.5px;
        }
        .pp-tiled-post-4 {
            width: calc( 33.3333% - 5px );
        }
    }
    .pp-tiled-post-bg {
        background-color: rgba(0, 0, 0, 0.2);
        background-size: cover;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
    &-meta {
        > span {
            &:not(:last-child):after {
                content: '-';
            }
        }
    }
    .pp-post-categories {
        &-style-2 {
            span {
                background: #ccc;
                display: inline-block;
            }
        }
    }
}
@mixin tiled-posts--mobile {
    .pp-tiled-posts .pp-tiled-post-1,
    .pp-tiled-posts .pp-tiles-posts-right,
    .pp-tiled-posts-layout-1 .pp-tiled-post-3,
    .pp-tiled-posts-layout-1 .pp-tiled-post-4,
    .pp-tiled-posts-layout-4 .pp-tiled-post-2,
    .pp-tiled-posts-layout-4 .pp-tiled-post-3,
    .pp-tiled-posts-layout-4 .pp-tiled-post-4,
    .pp-tiled-posts-layout-4 .pp-tiled-post-5,
    .pp-tiled-posts-layout-5 .pp-tiled-post-2,
    .pp-tiled-posts-layout-5 .pp-tiled-post-3,
    .pp-tiled-posts-layout-5 .pp-tiled-post-4,
    .pp-tiled-posts-layout-5 .pp-tiled-post-5 {
        width: 100%;
    }
    .pp-tiled-posts .pp-tiled-post-1,
    .pp-tiled-posts .pp-tiled-post-2,
    .pp-tiled-posts-layout-1 .pp-tiled-post-3,
    .pp-tiled-posts-layout-4 .pp-tiled-post-4,
    .pp-tiled-posts-layout-5 .pp-tiled-post-2,
    .pp-tiled-posts-layout-5 .pp-tiled-post-3,
    .pp-tiled-posts-layout-5 .pp-tiled-post-4 {
        margin: 0;
        margin-bottom: 5px;
    }
    .pp-tiled-posts .pp-tiled-post-1 {
        height: 265px;
    }
    .pp-tiled-posts .pp-tiles-posts-right {
        padding: 0;
    }
    .pp-tiled-posts-layout-5 .pp-tiled-post-5 {
        margin-left: 0;
        margin-right: 0;
    }
}