.pp-post {
	.pp-post-title {
		font-size: 26px;
		a {
			color: inherit;
			font-family: inherit;
			font-size: inherit;
			font-style: inherit;
			font-weight: inherit;
			line-height: inherit;
		}
	}
}
.pp-post-thumbnail {
	overflow: hidden;
	img {
		width: 100%;
		-webkit-transition: all .25s linear;
		transition: all .25s linear;
	}
}
.pp-posts-thumbnail-ratio {
	.pp-post-thumbnail-wrap {
		position: relative;
		img {
			position: absolute;
			object-fit: cover;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 100%;
		}
	}
}
.pp-post-separator-wrap {
	margin-bottom: 15px;
}
.pp-post-separator {
	background: #e6e6e6;
	height: 1px;
	width: 100%;
}
.pp-posts-skin-portfolio {
	.pp-post-content {
		position: relative;
	}
	.pp-post-thumb-content-wrap {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
	.pp-post-thumbnail {
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			vertical-align: middle;
		}
		a {
			display: block;
			height: 100%;
			&:before {
				content: "";
				display: block;
				height: 100%;
				width: 100%;
				position: absolute;
				bottom: 0;
				z-index: 1;
			}
		}
	}
	.pp-post-thumb-content-wrap {
		display: flex;
    	flex-direction: column;
		justify-content: flex-end;
	}
	&[data-layout="masonry"] {
		.pp-post-thumbnail-wrap {
			height: 100%;
		}
		.pp-post-thumbnail {
			position: static;
		}
	}
}
.pp-equal-height-yes {
	.pp-posts-skin-portfolio {
		.pp-post-thumbnail {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
		.pp-post-thumbnail-wrap {
			height: 100%;
		}
	}
}
.pp-content-on-hover {
	.pp-post-thumb-content {
		opacity: 0;
		@include transition($target: all, $time: 0.25s, $timing-function: linear);
	}
	&:hover {
		.pp-post-thumb-content {
			opacity: 1;
		}
	}
}
.pp-posts-skin-card {
	.pp-post {
		border: 1px solid #e6e6e6;
	}
	.pp-post-meta-wrap {
		border-top: 1px solid #e6e6e6;
		display: flex;
		align-items: center;
		padding: 15px 20px;
	}
	.pp-post-avtar {
		flex-shrink: 0;
		margin-right: 10px;
		img {
			border-radius: 50%;
		}
	}
}
.pp-posts-skin-creative {
	.pp-post-title {
		font-size: 18px;
    	text-transform: uppercase;
	}
	.pp-post-meta {
		border-bottom: 1px solid #797979;
		border-top: 1px solid #797979;
		margin-bottom: 10px;
		padding: 10px 0;
	}
	.pp-post-avtar {
		flex-shrink: 0;
		img {
			border-radius: 50%;
		}
	}
}
.pp-post-content-align-left {
	.pp-posts-skin-creative {
		.pp-post-content {
			text-align: left;
		}
		.pp-post-authorbox {
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
			align-items: center;
		}
		.pp-post-avtar {
			margin-right: 10px;
		}
	}
}
.pp-post-content-align-center {
	.pp-posts-skin-creative {
		.pp-post-content {
			text-align: center;
		}
		.pp-post-authorbox {
			display: block;
		}
		.pp-post-avtar {
			margin-bottom: 10px;
		}
	}
}
.pp-post-content-align-right {
	.pp-posts-skin-creative {
		.pp-post-content {
			text-align: right;
		}
		.pp-post-authorbox {
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
			align-items: center;
			-webkit-flex-direction: row-reverse;
			-ms-flex-direction: row-reverse;
			flex-direction: row-reverse;
		}
		.pp-post-avtar {
			margin-left: 10px;
		}
	}
}
.pp-posts-skin-news,
.pp-posts-skin-checkerboard {
	.pp-post-wrap {
		width: 100%;
	}
	.pp-post {
		display: flex;
	}
	.pp-post-thumbnail {
		flex-basis: 50%;
		flex-shrink: 0;
	}
	.pp-post-content {
		flex-grow: 1;
	}
}
.pp-posts-skin-checkerboard {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	.pp-post-wrap:nth-child(2n) {
		.pp-post {
			flex-direction: row-reverse;
		}
	}
	.pp-post-content-wrap {
		flex-basis: 50%;
		flex-shrink: 0;
	}
	.pp-post-content {
		padding: 20px;
	}
	.pp-post-thumbnail img {
		height: 100%;
		object-fit: cover;
		vertical-align: middle;
	}
}
.pp-post-thumbnail-align-right {
	.pp-posts-skin-news {
		.pp-post-thumbnail {
			order: 2;
		}
		.pp-post-content {
			order: 1;
		}
	}
}
.pp-posts-skin-overlap {
	.pp-post {
		display: inline-block;
	}
	.pp-post-terms-wrap {
		position: absolute;
		top: 15px;
		left: 15px;
		right: 15px;
	}
	.pp-post-content {
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
}
.pp-post-terms {
	@include transition($target: all, $time: 0.25s, $timing-function: linear);
	display: inline-block;
	a {
		color: inherit;
	}
}
.pp-post-filters {
	display: block;
	margin: 0 0 30px;
	padding: 0;
	.pp-post-filter {
		background: #eee;
		cursor: pointer;
		display: inline-block;
		margin-bottom: 5px;
		margin-left: 0;
		margin-right: 5px;
		padding: 5px 12px;
		&:hover,
		&.pp-filter-current {
			background: #000;
			color: #fff;
		}
	}
}
.pp-post-event-date {
    background: #000;
    border-radius: 50%;
	color: #fff;
    display: flex;
    font-size: 14px;
    line-height: 1.4;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	margin: -30px auto 0;
    width: 60px;
    height: 60px;
    position: relative;
	text-transform: uppercase;
}
.pp-equal-height-yes {
	.pp-post {
		height: 100%;
	}
}
.pp-posts-pagination {
	a,
	.page-numbers {
		display: inline-block;
	}
}
.pp-posts-infinite-scroll {
	.pp-posts-pagination-wrap {
		display: none;
	}
}
.pp-search-form-container {
	display: flex;
	justify-content: flex-start;
}
.pp-search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    overflow: hidden;
    border: 0 solid transparent;
	margin-bottom: 20px;
    min-height: 50px;
	max-width: 400px;
	width: 100%;
	button,
	input[type=search] {
		margin: 0;
		border: 0;
		padding: 0;
		display: inline-block;
		vertical-align: middle;
		white-space: normal;
		background: none;
		line-height: 1;
		min-width: 0;
		font-size: 15px;
		-webkit-appearance: none;
		-moz-appearance: none;
		&:focus {
			outline: 0;
		}
	}
	input[type=search] {
		background: #eceeef;
		height: 100%;
		padding-left: 15px;
		padding-right: 15px;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		color: #55595c;
		-webkit-transition: color .2s;
		-o-transition: color .2s;
		transition: color .2s;
	}
	button {
		background-color: #818a91;
		font-size: 16px;
		color: #fff;
		border-radius: 0;
		min-width: 50px;
	}
    .pp-search-form-input {
		&::-webkit-input-placeholder {
			color: inherit;
			font-family: inherit;
			opacity: 0.6;
		}
		&:-ms-input-placeholder {
			color: inherit;
			font-family: inherit;
			opacity: 0.6;
		}
		&::-moz-placeholder {
			color: inherit;
			font-family: inherit;
			opacity: 0.6;
		}
		&:-moz-placeholder {
			color: inherit;
			font-family: inherit;
			opacity: 0.6;
		}
		&::-ms-input-placeholder {
			color: inherit;
			font-family: inherit;
			opacity: 0.6;
		}
		&::placeholder {
			color: inherit;
			font-family: inherit;
			opacity: 0.6;
		}
	}
}
.pp-search-form-text {
	.pp-search-form-submit {
		-ms-flex-negative: 0;
		flex-shrink: 0;
	}
}
.pp-loader,
.pp-posts-loader {
	width: 46px;
	height: 46px;
}
.pp-loader {
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
	z-index: 2;
}
.pp-posts-loader {
	display: none;
	margin-left: auto;
	margin-right: auto;
}
.pp-loader:after,
.pp-posts-loader:after {
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid #fff;
	border-color: #000 transparent #000 transparent;
	animation: pp-loader-dual-ring 1.2s linear infinite;
}
.pp-loader:after {
	width: 46px;
	height: 46px;
}
@keyframes pp-loader-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pp-loader-overlay {
    background: rgba(255,255,255,.5);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}
@mixin posts--tablet() {
	.pp-posts-image-stack-tablet .pp-post {
		display: block;
	}
	.pp-posts-image-stack-tablet .pp-post-thumbnail {
		float: none !important;
	}
}
@mixin posts--mobile() {
	.pp-posts-image-stack-mobile .pp-post {
		display: block;
	}
	.pp-posts-image-stack-mobile .pp-post-thumbnail {
		float: none !important;
	}
}